[user]
  name = Mikhail Abordo
  email = mikhailnathanielabordo@gmail.com

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch

[color]
    ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
  [color "status"]
    untracked = cyan
  [core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = /usr/bin/vim
[http]
  postBuffer = 1048576000
[pull]
  default = current
  rebase = false
